@model GSU.Museum.Web.Models.ExhibitViewModel

@{
    <h3>Добавление экспоната</h3>
    <div class="form-group ml-3">
        <label for="titleBe">Тип страницы</label>
        <span asp-validation-for="ExhibitType"></span>
        <select data-val="true" data-val-required="Выберите тип страницы" class="form-control ml-3" name="ExhibitType" onchange="ExhibitTypeChange(this, '@ViewBag.HallId', '@ViewBag.StandId')">
            <option selected value="Статья">Статья</option>
            <option value="Галерея">Галерея</option>
        </select>
    </div>

    <div id="formContent" class="ml-3">
        <form method="post" id="form" enctype="multipart/form-data">
            <input type="hidden" value="1" name="ExhibitType"/>
            <div class="form-group">
                <label for="titleBe">Название (BY)</label>
                <span asp-validation-for="TitleBe"></span>
                <input type="text" placeholder="Название экспоната на белорусском языке" asp-for="TitleBe" class="form-control ml-3" />
            </div>
            <div class="form-group">
                <label for="titleRu">Название (RU)</label>
                <span asp-validation-for="TitleRu"></span>
                <input type="text" placeholder="Название экспоната на русском языке" asp-for="TitleRu" class="form-control ml-3" />
            </div>
            <div class="form-group">
                <label for="titleEn">Название (EN)</label>
                <span asp-validation-for="TitleEn"></span>
                <input type="text" placeholder="Название экспоната на английском языке" asp-for="TitleEn" class="form-control ml-3" />
            </div>
            <div class="form-group">
                <label for="descriptionBe">Описание экспоната (BY)</label>
                <span asp-validation-for="DescriptionBe"></span>
                <input type="text" placeholder="Краткое описание экспоната на белорусском языке" asp-for="DescriptionBe" class="form-control ml-3" />
            </div>
            <div class="form-group">
                <label for="descriptionRu">Описание экспоната (RU)</label>
                <span asp-validation-for="DescriptionRu"></span>
                <input type="text" placeholder="Краткое описание экспоната на русском языке" asp-for="DescriptionRu" class="form-control ml-3" />
            </div>
            <div class="form-group">
                <label for="descriptionEn">Описание экспоната (EN)</label>
                <span asp-validation-for="DescriptionEn"></span>
                <input type="text" placeholder="Краткое описание экспоната на английском языке" asp-for="DescriptionEn" class="form-control ml-3" />
            </div>
            <div class="form-group">
                <label for="textBe">Текст к экспонату (BY)</label>
                <span asp-validation-for="TextBe"></span>
                <textarea style="resize:none" placeholder="Текст к экспонатк на белорусском языке" type="text" asp-for="TextBe" class="form-control ml-3" rows="5"></textarea>
            </div>
            <div class="form-group">
                <label for="textRu">Текст к экспонату (RU)</label>
                <span asp-validation-for="TextRu"></span>
                <textarea style="resize:none" placeholder="Текст к экспонатк на русском языке" type="text" asp-for="TextRu" class="form-control ml-3" rows="5"></textarea>
            </div>
            <div class="form-group">
                <label for="textEn">Текст к экспонату (EN)</label>
                <span asp-validation-for="TextEn"></span>
                <textarea style="resize:none" placeholder="Текст к экспонатк на английском языке" type="text" asp-for="TextEn" class="form-control ml-3" rows="5"></textarea>
            </div>
            <div class="form-group">
                <label>Фото</label>
                <div id="imageBlock" class="d-flex flex-row form-group flex-wrap">
                </div>
                <button type="button" onclick="LoadFile('#inputFile')" class="btn btn-primary btn-form ml-3">
                    <svg xmlns="http://www.w3.org/2000/svg" height="1.3em" viewBox="0 0 24 24" width="1.3em">
                        <path fill="currentColor" d="M19 7v2.99s-1.99.01-2 0V7h-3s.01-1.99 0-2h3V2h2v3h3v2h-3zm-3 4V8h-3V5H5c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-8h-3zM5 19l3-4 2 3 3-4 4 5H5z" />
                    </svg>Загрузить
                </button>
                <input id="inputFile" style="visibility: hidden" type="file" name="files" multiple />
            </div>

            <div class="form-group">
                <button type="button" onclick="CreateExhibit('@ViewBag.HallId', '@ViewBag.StandId', 'TitleRu')" class="btn btn-primary btn-form">
                    <svg xmlns="http://www.w3.org/2000/svg" height="1.2em" viewBox="0 0 24 24" width="1.2em">
                        <path fill="currentColor" d="M17 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V7l-4-4zm-5 16c-1.66 0-3-1.34-3-3s1.34-3 3-3 3 1.34 3 3-1.34 3-3 3zm3-10H5V5h10v4z" />
                    </svg>Сохранить
                </button>
            </div>
        </form>
    </div>
}
