@model GSU.Museum.Web.Models.ExhibitViewModel

@{
    <form method="post" id="form" enctype="multipart/form-data">
        <input type="hidden" value="2" name="ExhibitType" />
        <div class="form-group">
            <label for="titleBe">Название (BY)</label>
            <span asp-validation-for="TitleBe"></span>
            <input type="text" placeholder="Название экспоната на белорусском языке" asp-for="TitleBe" class="form-control" />
        </div>
        <div class="form-group">
            <label for="titleRu">Название (RU)</label>
            <span asp-validation-for="TitleRu"></span>
            <input type="text" placeholder="Название экспоната на русском языке" asp-for="TitleRu" class="form-control" />
        </div>
        <div class="form-group">
            <label for="titleEn">Название (EN)</label>
            <span asp-validation-for="TitleEn"></span>
            <input type="text" placeholder="Название экспоната на английском языке" asp-for="TitleEn" class="form-control" />
        </div>
        <div class="form-group">
            <button type="button" onclick="AddPhotoInfo()" class="btn btn-outline-secondary btn-form">
                <img src="~/images/add32x32.png" class="img-btn" />Добавить
            </button>
            <div id="photos">
                <div>
                    <div>
                        <h5>Описание фотографии</h5>
                        <label>Фото</label>
                        <span class="field-validation-error"></span>
                        <div>
                            <div class="d-flex form-group">
                                <button type="button" onclick="LoadPhoto(this)" class="btn btn-outline-secondary btn-form">
                                    <img src="~/images/upload.png" class="img-btn" />Загрузить
                                </button>
                                <input class="photoLoader" style="visibility: hidden" type="file" name="files" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="descriptionBe">Описание фото (BY)</label>
                        <span class='field-validation-error'></span>
                        <input type="text" placeholder="Краткое описание фото на белорусском языке" name="photoDescriptionBe" class="form-control validation-unit" />
                    </div>
                    <div class="form-group">
                        <label for="descriptionRu">Описание фото (RU)</label>
                        <span class='field-validation-error'></span>
                        <input type="text" placeholder="Краткое описание фото на русском языке" name="photoDescriptionRu" class="form-control validation-unit" />
                    </div>
                    <div class="form-group">
                        <label for="descriptionEn">Описание фото (EN)</label>
                        <span class='field-validation-error'></span>
                        <input type="text" placeholder="Краткое описание фото на английском языке" name="photoDescriptionEn" class="form-control validation-unit" />
                    </div>
                    <button type="button" onclick="DeletePhotoInfo(this)" class="btn btn-outline-secondary btn-form">
                        <img src="~/images/delete.png" class="img-btn" />Удалить запись
                    </button>
                </div>
            </div>
        </div>

        <div class="form-group">
            <button type="button" onclick="CreateExhibitGallery('@ViewBag.HallId', '@ViewBag.StandId', 'TitleRu')" class="btn btn-outline-secondary btn-form">
                <img src="~/images/save.png" class="img-btn" />Сохранить
            </button>
        </div>
    </form>
}
