/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
  line-height:1.2em;
}

.btn-warning{
    color:white;
}

.btn-warning:hover {
    color: white;
}

.btn-warning:active:focus{
    color: white;
    background-color:black;
}

.btn-warning:not(:disabled):not(.disabled):active,
.btn-warning:not(:disabled):not(.disabled).active,
.btn-warning:not(:disabled):not(.disabled):active:focus,
.btn-warning:not(:disabled):not(.disabled).active:focus,
.btn-warning:focus, .btn-warning.focus {
    color: white;
}

.btn-small{
    padding:0px;
    min-height:1.2em;
    min-width:1.2em;
    height:1.2em;
    width:1.2em;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


[data-toggle="collapse"] .fa:before {
    content: "\f13a";
}

[data-toggle="collapse"].collapsed .fa:before {
    content: "\f138";
}


.a-header {
    font-size: large;
    font-weight: bold;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.a-header:hover {
    font-size: large;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.a-btn {
    font-size: medium;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.a-btn:hover {
    font-size: medium;
    color: black;
    text-decoration: none;
}

.btn-add{
    min-width:1.2em;
    margin-left:2px;
    width: 1.2em;
    height: 1.2em;
    padding:0px;
    line-height:1.2em;
}

.plus-svg{
    padding-bottom:4px;
}

.img-small-loaded{
    width: 100px;
    height: 100px;
}

.textarea-static{
    resize: none;
}

.btn-close {
    background-color: ivory;
    width: 20px;
    height: 20px;
    vertical-align: top;
    margin-left: -10px;
    margin-top:-10px;
    border-radius: 5px;
    box-shadow: none;
    text-align: center;
    border: 1px solid #6c757d;
    line-height: 14px;
    font: -webkit-control;
}

.btn-form{
    width:180px;
    height:40px;
}

.selected-item {
    background-color: lightblue;
}

.img-btn{
    margin-left:4px;
    margin-right: 4px;
    margin-bottom: 2px;
    margin-top: 2px;
}

.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-facebook div {
display: inline-block;
position: absolute;
left: 8px;
width: 16px;
background: #1a1db9;
animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
}

@keyframes lds-facebook {
    0% {
        top: 8px;
        height: 64px;
    }

    50%, 100% {
        top: 24px;
        height: 32px;
    }
}

.field-validation-error {
    margin-left: 10px;
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

#content{
    margin-right: 10%;
}

.overflow {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display:block;
}