@model IEnumerable<GSU.Museum.Web.Models.HallViewModel>
@{
    ViewData["Title"] = "Museum management";
}

@{
    <div class="d-flex flex-row align-items-start">
        <div style="width:30%" class="box-shadow border-right border-bottom">
            <a class="a-btn" onclick="loadView('/Halls/Create')">Add hall</a>
            <div class="d-flex flex-column" id="halls">
                @foreach (var hall in Model)
                {
                    <div id="elId@{@hall.Id}">
                        <div style="margin-top: 10px;" class="flex-row">
                            <button class="btn btn-link collapsed" data-toggle="collapse"
                                    data-target="#id@{@hall.Id}"
                                    aria-expanded="false"
                                    aria-controls="id@{@hall.Id}"
                                    style="margin-bottom:3px;padding:2px;">
                                <i class="fa" aria-hidden="false"></i>
                            </button>
                            <a class="a-header" id="elName@{@hall.Id}" onclick="loadView('/Halls/Index/@hall.Id')">@hall.TitleEn</a>
                        </div>
                        <div class="collapse" id="id@{@hall.Id}" style="margin-left: 50px">
                            <a class="a-btn" onclick="loadView('/Stands/Create?hallId=@hall.Id')">Add stand</a>
                            @foreach (var stand in hall.Stands)
                            {
                                <div id="elId@{@stand.Id}">
                                    <div style="margin-top: 10px;" class="flex-row">
                                        <button class="btn btn-link collapsed" data-toggle="collapse"
                                                data-target="#id@{@stand.Id}"
                                                aria-expanded="false"
                                                aria-controls="id@{@stand.Id}"
                                                style="margin-bottom:3px;padding:2px;">
                                            <i class="fa" aria-hidden="false"></i>
                                        </button>
                                        <a class="a-header" id="elName@{@stand.Id}" onclick="loadView('/Stands/Index/@stand.Id?hallId=@hall.Id')">@stand.TitleEn</a>
                                    </div>
                                    <div class="collapse" id="id@{@stand.Id}" style="margin-left: 50px">
                                        <a class="a-btn" onclick="loadView('/Exhibits/Create?standId=@stand.Id&hallId=@hall.Id')">Add exhibit</a>
                                        @foreach (var exhibit in stand.Exhibits)
                                        {
                                            <div style="margin-top: 10px;" class="flex-row" id="elId@{@exhibit.Id}">
                                                <a class="a-header" id="elName@{@exhibit.Id}" onclick="loadView('/Exhibits/Index?id=@exhibit.Id&standId=@stand.Id&hallId=@hall.Id')">@exhibit.TitleEn</a>
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
        <div id="content" class="ml-5">

        </div>
    </div>
}

