@model IEnumerable<GSU.Museum.Web.Models.HallViewModel>
@{
    ViewData["Title"] = "Museum management";
}

@{
    <div class="d-flex flex-row">
        <div style="width:20%">
            <a class="a-btn" onclick="createPage('/Halls/Create')">Add hall</a>
            <div class="d-flex flex-column">
                @foreach (var hall in Model)
                {
                    <div>
                        <div style="margin-top: 10px;" class="flex-row">
                            <button class="btn btn-link collapsed" data-toggle="collapse"
                                    data-target="#id@{@hall.Id}"
                                    aria-expanded="false"
                                    aria-controls="id@{@hall.Id}"
                                    style="margin-bottom:3px;padding:2px;">
                                <i class="fa" aria-hidden="false"></i>
                            </button>
                            <a class="a-header" id="el@{@hall.Id}" onclick="loadIndexPage('/Halls/Index/@hall.Id')">@hall.TitleEn</a>
                        </div>
                        <div class="collapse" id="id@{@hall.Id}" style="margin-left: 50px">
                            <a class="a-btn" onclick="createPage('/Stands/Create?hallId=@hall.Id')">Add stand</a>
                            @foreach (var stand in hall.Stands)
                            {
                                <div>
                                    <div style="margin-top: 10px;" class="flex-row">
                                        <button class="btn btn-link collapsed" data-toggle="collapse"
                                                data-target="#id@{@stand.Id}"
                                                aria-expanded="false"
                                                aria-controls="id@{@stand.Id}"
                                                style="margin-bottom:3px;padding:2px;">
                                            <i class="fa" aria-hidden="false"></i>
                                        </button>
                                        <a class="a-header" id="el@{@stand.Id}" onclick="loadIndexPage('/Stands/Index/@stand.Id?hallId=@hall.Id')">@stand.TitleEn</a>
                                    </div>
                                    <div class="collapse" id="id@{@stand.Id}" style="margin-left: 50px">
                                        <a class="a-btn" onclick="createPage('/Exhibits/Create?standId=@stand.Id&hallId=@hall.Id')">Add exhibit</a>
                                        @foreach (var exhibit in stand.Exhibits)
                                        {
                                            <div style="margin-top: 10px;" class="flex-row" id="id@{@exhibit.Id} ">
                                                <a class="a-header" id="el@{@exhibit.Id}" onclick="loadIndexPage('/Exhibits/Index?id=@exhibit.Id&standId=@stand.Id&hallId=@hall.Id')">@exhibit.TitleEn</a>
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
        <div id="content">

        </div>
    </div>
}

