@model GSU.Museum.Web.Models.StandViewModel

@{
    <h3>Добавление стенда</h3>
    <form method="post" id="form" enctype="multipart/form-data">
        <div class="form-group">
            <label for="titleBe">Название (BY)</label>
            <span asp-validation-for="TitleBe"></span>
            <input type="text" asp-for="TitleBe" placeholder="Название стенда на белорусском языке" class="form-control" />
        </div>
        <div class="form-group">
            <label for="titleRu">Название (RU)</label>
            <span asp-validation-for="TitleRu"></span>
            <input type="text" asp-for="TitleRu" placeholder="Название стенда на русском языке" class="form-control" />
        </div>
        <div class="form-group">
            <label for="titleEn">Название (EN)</label>
            <span asp-validation-for="TitleEn"></span>
            <input type="text" asp-for="TitleEn" placeholder="Название стенда на английском языке" class="form-control" />
        </div>

        <div class="form-group">
            <label for="descriptionBe">Описание стенда (BY)</label>
            <span asp-validation-for="DescriptionBe"></span>
            <textarea asp-for="DescriptionBe" placeholder="Описание стенда на белорусском языке" class="form-control textarea-static" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="descriptionRu">Описание стенда (RU)</label>
            <span asp-validation-for="DescriptionRu"></span>
            <textarea asp-for="DescriptionRu" placeholder="Описание стенда на русском языке" class="form-control textarea-static" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="descriptionEn">Описание стенда (EN)</label>
            <span asp-validation-for="DescriptionEn"></span>
            <textarea asp-for="DescriptionEn" placeholder="Описание стенда на английском языке" class="form-control textarea-static" rows="3"></textarea>
        </div>

        <div class="form-group">
            <label>Фото</label>
            <span class="field-validation-valid" id="photoSpan" data-valmsg-for="file" data-valmsg-replace="true"></span>
            <div id="imageBlock" class="form-group">
            </div>
            <button type="button" onclick="LoadFile('#inputFile')" class="btn btn-outline-secondary btn-form">
                <img src="~/images/upload.png" class="img-btn" />Загрузить
            </button>
            <input id="inputFile" data-val="true" data-val-required="Выберите фото" style="visibility: hidden" type="file" name="file" />
        </div>

        <div class="form-group">
            <button type="button" onclick="CreateStand('@ViewBag.HallId', 'TitleRu')" class="btn btn-outline-secondary btn-form">
                <img src="~/images/save.png" class="img-btn" />Сохранить
            </button>
        </div>
    </form>
}
